* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f6fa;
}

.app {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.app__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.app__header > h1 {
	color: #fc3c3c;
	font-size: 2rem;
}
.app__dropdown {
	background-color: white;
}
.app__left {
	flex: 0.9;
}

.app__graph {
	flex-grow: 1;
}

.app__right__table > h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	
}

.app__status {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Extra stuff to make changes in the chart */

.app__right {
	display: flex;
	flex-direction: column;
}
/* MuiCardContent-root this class from the chart (hidden) */
.app__right .MuiCardContent-root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/* This is for responsicveness */
@media (max-width: 990px) {
	.app {
		flex-direction: column;
	}
	.app__right {
		margin-top: 20px;
	}
}
